doctype html 

html 
    head
        title My site - #(title)
        block styles 
            link(rel='stylesheet', href='css/bootstrap.min.css')

    body 
     nav(class="navbar navbar-expand-lg navbar-dark bg-primary")
        div(class="container-fluid")
            a(class="navbar-brand" href="#") Navbar
            button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                span("navbar-toggler-icon")
            div("collapse navbar-collapse" id="navbarNav")
            ul(class="navbar-nav")
                li(class="nav-item")
                    a(class="nav-link active" aria-current="page" href="/") Home
                li(class="nav-item")
                    a(class="nav-link" aria-current="page" href="/users/json-list") List of users
                li(class="nav-item")
                    a(class="nav-link" aria-current="page" href="/permissions") Permissions
                li(class="nav-item")
                    a(class="nav-link" aria-current="page" href="/languages") Languages 
                
    </nav>

        block content 
        block foot 
            #footer 
                p some footer content